/* -------------------------------------- BODY */
body {
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* -------------------------------------- TABLE */
table {
    border: 0;
    background: none;
    border-spacing: 3px;
}

td {
    text-align: center;
    min-width: 21.3px;
    padding: 4.5px 0px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 2px;
    background: linear-gradient(to bottom, #fefdfa 0%, #fffbf4 50%, #faf1e6 51%, #fffcf7 100%);
}

/* -------------------------------------- week */
.week-1, .week-2, .week-3, .week-4, .week-5, .week-6, .week-7 {
    background: linear-gradient(to bottom,  rgba(252,249,248,1) 0%,rgba(248,230,228,1) 50%,rgba(247,219,215,1) 51%,rgba(253,243,241,1) 100%);
    font-weight: bold;
    font-size: 8px;
}

/* -------------------------------------- month */
.month {
    letter-spacing: 3.2px;
    background: linear-gradient(to bottom, rgba(246, 247, 243, 1) 0%, rgba(225, 230, 206, 1) 50%, rgb(213 221 186) 51%, rgba(242, 245, 231, 1) 100%);
    padding: 1.9px 0px;
    height: 21px;
}

.month strong {
    color: white;
    text-shadow: var(--shad1);
    font-size: 10px;
}

.month center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 3.7px;
}

.month center::before {
    content: url(/graphics/icons/NC-icon11.gif);
    filter: saturate(0.5) hue-rotate(14deg) contrast(1.2);
}

/* -------------------------------------- date */

td:has(.date) {
    background: linear-gradient(to bottom,  #fcfbf8 0%,#faf0e0 50%,#f8e9d2 51%,#fef8ee 100%);
    text-indent: -0.5px;
}