@font-face {
  font-family: 'Floozy';
  src: url(assets/fonts/Floozy__.ttf)
}

body {
    margin: 0;
    font-family: sans-serif;
}

.calendar-widget {
    border: 0;
    background: white;
    border-spacing: 3px;
    border-collapse: separate;
    margin: 0;
    color: black;
    background: linear-gradient(180deg, #ffb3ba 0%, #ffdfba 20%, #ffffba 40%, #baffc9 60%, #bae1ff 80%, #eecbff 100%);

}

.calendar-widget td {
    text-align: center;
    width: 21.3px;
    padding: 4.5px 0px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: default;
    background-color: white;
    border: 1px solid hotpink;
    color:hotpink;
}

.calendar-widget td a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.calendar-widget .week-day {
    background: #fff;
    font-weight: bold;
    font-size: 8px;
    border: 1px solid #ddd;
}

.calendar-widget .month-header {
    letter-spacing: 2px;
    padding: 4px 0px;
    height: 24px;
    /* Start */
    color: hotpink;
    font-family: "MS UI Gothic", "MS PGothic", "MS Gothic", sans-serif;
    border-bottom: 1px solid hotpink;
    margin-bottom: 3px;
    text-align: center;
    margin: auto;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    
    background: linear-gradient(white, white 50%, white 50%, #ffb6da);
}

.calendar-widget .month-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3.7px;
    position: relative;
    font-family: "MS UI Gothic", "MS PGothic", "MS Gothic", sans-serif;
}

.calendar-widget .month-label::before {
    content: url('/graphics/icons/NC-icon11.gif');
    filter: saturate(0.5) hue-rotate(14deg) contrast(1.2);
    margin-right: 5px;
    vertical-align: middle;
}

.calendar-widget td:has(.current-date) {
    background: white;
    border: 1px solid red;
}

.calendar-widget .current-date {
    color: #FF0000;
    font-weight: bold;
}