@font-face {
  font-family: 'Floozy';
  src: url(assets/fonts/Floozy__.ttf)
}

:root { 
  --text-color: hotpink;
  /* --text-color: #b07469; */
}

* {
  cursor: url("assets/images/cursor_cupcake.png"), auto;
  font-family: "MS UI Gothic", "MS PGothic", "MS Gothic", sans-serif;
  
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  background: white;
  background-repeat: repeat;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 780px;
    width: 780px;
    margin: 0 auto;
    padding: 7px;
    color: var(--text-color);
    background: white;
    border: none; 

    box-shadow:
        0 0 0 2px #eea7ee,
        0 0 0 4px #ffd6a5,
        0 0 0 6px #fdffb6,
        0 0 0 8px #caffbf,
        0 0 0 10px #9bf6ff,
        0 0 0 12px #a0c4ff,
        0 0 0 14px #bdb2ff;

    gap: 20px;
    z-index: 2; 
}

.header-image {
    width: 150px;
    height: 150px;

    transform: scale(1.33); 
    
    transform-origin: center;

    background-image: url("assets/images/Pupcake.png");
    background-size: cover;
    background-position: center;
}

.header-image:hover {
    /* background-image: url("url"); */
}

.commission-text {
  text-align: center;
}

.commission-text h3, .commission-text p {
    margin: 0;
    padding: 5px 0;
}

.commission-text h3 a {
  display: inline-block; 
  text-decoration: none;
  color: #a0c4ff;
  transition: transform 0.1s ease-in-out; 

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.tos-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    gap: 0;
    width: 350px;
    height: 150px;
    background: #fcfbc6;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y:auto;
}

.tos-box h2, .tos-box p {
    margin: 0;
    padding: 5px 0;
}

.tos-box h2 {
    font-family: Floozy;
}

.return-button {
  background: hotpink;
  color: white;
  padding: 15px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}


:is(html, body, .tos-box)::-webkit-scrollbar {
  width: 10px;
}

:is(html, body, .tos-box)::-webkit-scrollbar-track{
  background: rgba(255, 192, 203, 0.3);
  border: 1px solid hotpink;
}

:is(html, body, .tos-box)::-webkit-scrollbar-thumb {
  background: hotpink;
  border-radius: 10px;
  border: 2px solid pink;
}

:is(html, body, .tos-box)::-webkit-scrollbar-thumb:hover{
  background: deeppink;
}

#c {
  position: fixed; 
  inset: 0;       
  width: 100vw;
  height: 100vh;

  pointer-events: none; 
  z-index: 2;   
}

#cursor {
  position: fixed; 
  inset: 0;       
  width: 100vw;
  height: 100vh;

  pointer-events: none; 
  z-index: 4;   
}