@font-face {
  font-family: 'Floozy';
  src: url(assets/fonts/Floozy__.ttf)
}

:root { 
  --text-color: hotpink;
  /* --text-color: #b07469; */
}

* {
  cursor: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/58566fec-767c-4b43-9655-1d0cf69219fa/d5mznwj-ce70c2cf-8711-4ff8-8d77-bd661f084252.png), auto !important;
  font-family: "MS UI Gothic", "MS PGothic", "MS Gothic", sans-serif;
  
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/110997028_uu3DcLwfIdXK6rc.jpg");
  background-repeat: repeat;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner {
    display: block;
    border: 3px double hotpink;
    border-bottom: none;
    width: 794px; /* so border fits */
    height: 199px;
}

.content {
    height: 1150px;
    width: 780px;
    margin: 0 auto;
    padding: 7px;
    color: var(--text-color);
    background-image: url("assets/gifs/background.gif");
    border: 3px double hotpink;
    border-top: none;
}

.sippy-img,
.woofers-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  transform: scale(1.15)
}

.sippy-img {
  margin-top: 25px;
  margin-bottom: 5px;
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Sippy%20bed%20png");
}

.sippy-img:hover{
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Sippy%20bed%20gif");
}

.woofers-img {
  margin-left: 10px;
  margin-top: -20px;
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Woofers%20bed%20png");
}

.woofers-img:hover{
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Gif%20woofers%20bed");
}


.link-box {
    margin-top: -20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.link-button,
.link-button-bone {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 50px;
    transition: 0.2 ease;
}

.link-button:hover,
.link-button-bone:hover {
    transform: scale(1.05);
}

.link-button {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Newbutton.pink");
    background-size: cover;
}

.link-button-bone {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Bone%20button");
    margin-top: 5px;
    width: 120px;
    height: 42px; /* this is so stupid, it needs this specific size for some reason */
    background-size: cover;
}

.link-button:hover {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Newbutton.purp")
}



.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #b07469;
    font-size: 16px;
    pointer-events: none;

}

.grid-container {
    display: grid;
    margin-left: 160px;
    margin-top: -510px;
    gap: 10px;

    grid-template-columns: 280px 160px 160px 160px;
    grid-template-areas: 
    "welcomebox statsbox statsbox statsbox"
    "blinkies blinkies blinkies blinkies"
    "infodump linkmebox calendar calendar"
    "infodump  linkmeimage calendar  calendar"
    "stamp stamp stamp stamp";
}
.welcome-box  { grid-area: welcomebox; }
.stats-box    { grid-area: statsbox; }
.blinkies-area{ grid-area: blinkies; }
.linkme-box   { grid-area: linkmebox; }
.linkme-image { grid-area: linkmeimage}
.calendar    { grid-area: calendar; }
.stamp-area   { grid-area: stamp; }
.info-dump    { grid-area: infodump; }
/* .music-player { grid-area: musicplayer; }
.placeholderone { grid-area: placeholderone; }
.toybox { grid-area: toybox; }
.placeholdertwo { grid-area: placeholdertwo; } */

.welcome-box,
.info-dump,
.stats-box,
.blinkies-area,
.linkme-box,
.calendar,
.stamp-area {
  min-height: 120px;
  border: 2px solid hotpink;
  background: rgba(255,255,255,0.7);
  font-size: 16px;
}

.stamp-area {
  min-height: 55px;
}

.blinkies-area {
  min-height: 32px;
  height: 32px;
  max-width: 616px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-box {
  width: 335px;
  height: 235px;
  overflow:scroll;
  text-align: center;
  overflow-x: hidden;

  /* background-image: url(https://file.garden/aStH4SBKNTw4mZIY/Welcome.gif);
  background-size: cover;
  background-position: center; */
}

.welcome-wrapper {
  position: relative
}

.welcome-gif {
  margin-left: 15px;
  margin-top: 15px;
}

.welcome-lace {
  position: sticky;
  margin-top: -20px;
  top: 0;
  left: 0;

  width: 392px;
  height: auto;

  pointer-events: none;
}

.welcome-divider {
  margin-top: -10px;
  top: 0;
  left: 0;

  width: 307px;
  height: auto;

  pointer-events: none;
}

.stats-box {
  width: 250px;
  height: 235px;
  margin-left: 65px;
}


.box-label {
  
    color: hotpink;
    font-family: Floozy;
    border-bottom: 1px solid hotpink;
    padding: 1px;
    margin-bottom: 3px;
    text-align: center;
    margin: auto;
    padding: 3px;
    
    background: linear-gradient(white, white 50%, white 50%, #ffb6da);
}

.status-line {
  display:flex;
  align-items: center;
  font-size: 24px;
}

.status-img {
  height: 40px;
  width: 40px;
}

.box-feeling {
  display: flex;
  justify-content: center;
}

/* this is a crime against humanity */
.status-content {
  height: 80px;
  width: 200px;
  margin-left: 25px;
  border: 1px solid hotpink;
  text-align: center;
  font-size: 20px;
  overflow: auto;
}
/* this is a crime against humanity */

.info-dump {
  width: 280px;
  height: 235px;
  overflow: scroll;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.info-lace {
  position:sticky;
}

.linkme-box {
  position: relative;
  margin-left: 10px;
  width: 120px;
  min-height: 105px;
  height: 105px;
  z-index: 1;
}

.linkme-image {
 position: relative;
  margin-left: -10px;
  width: 120px;
  height: 120px;
  justify-self: center;
  align-self: start;
  z-index: 0;
}

.linkme-button{
  margin-left: 10px;
}

.linkme-button img {
  width: 88px;
  height: auto;
}


.calendar {
  margin-left: -20px;
  width: 180px;
  height: 235px;
}

.calendar-iframe {
  width: 100%;
  height: 180px;
  border: none;
  overflow: hidden;
}


.stamp-area {
  margin-left: -160px;
  width: 780px;
  margin-bottom: 10px;
}

/* viewport */
.marquee {
  height: 68px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  background-color: #d4f1f4;
  background-image: url(https://foollovers.com/mat/slantstripe02/ib04-bg-slantstripe.gif);
  background-repeat: repeat;
  background-size: 2em;
  border: 2px ridge #f79dc4c7;
}

/* animated conveyor belt */
.marquee__inner {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
}

/* stamp rows */
.marquee__content {
  display: flex;
  align-items: center;
}

.marquee img {
  height: 60px;
  width: auto;
  margin-right: 8px;
  flex-shrink: 0;
}

/* animation */
@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

/* viewport for blinkies*/
.marquee-blinkies {
  height: 32px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  background-color: #d4f1f4;
  background-image: url(https://foollovers.com/mat/slantstripe02/ib04-bg-slantstripe.gif);
  background-repeat: repeat;
  background-size: 2em;
  border: 2px ridge #f79dc4c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animated conveyor belt */
.marquee__inner-blinkies {
  display: flex;
  width: max-content;
  animation: marquee-scroll-blinkies 25s linear infinite;
}

/* stamp rows */
.marquee__content-blinkies {
  display: flex;
  align-items: center;
}

.marquee-blinkies img {
  height: 24px;
  width: auto;
  margin-right: 8px;
  flex-shrink: 0;
}

/* animation */
@keyframes marquee-scroll-blinkies {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.marquee-blinkies:hover .marquee__inner-blinkies {
  animation-play-state: paused;
}



.grid-container-two {
    display: grid;
    /* margin-left: 160px;
    margin-top: -520px; */
    gap: 10px;

    grid-template-columns: 280px 160px 160px;
    grid-template-areas: 
    "placeholderone petbox musicplayer"
    "toybox copyright-text placeholdertwo"
    "placeholderthree . .";
}

.pet-box { grid-area: petbox; }
.music-player { grid-area: musicplayer; }
.placeholderone { grid-area: placeholderone; }
.toybox { grid-area: toybox; }
.placeholdertwo { grid-area: placeholdertwo; }
.copyright-text { grid-area: copyright-text; }
.placeholderthree { grid-area: placeholderthree}

.toybox,
.music-player {
  min-height: 120px;
  border: 2px solid hotpink;
  background: rgba(255,255,255,0.7);
  font-size: 16px;
}

.pet-box {
  margin-left: -150px;
  width: 314px;
  height: 325px;
}

.music-player {
  width: 314px;
  height: 318px;
}

.toybox {
  width: 125px;
  height: 200px;
  margin-top: -220px;
}

.placeholdertwo {

  width: 314px;
  height: 125px;
}

.copyright-text {
  margin-left: -60px;
}

.placeholderthree {
  margin-top: -150px;
}

.progress-container {
  background-color: #444; /* Dark gray so the light bar pops */
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 8px; /* Must have a height! */
  width: 100%;
}

/* The actual moving part */
.progress {
  background-color: #00ffcc; /* Neon cyan for that high-energy vibe */
  border-radius: 5px;
  height: 100%; /* Fill the container's height */
  width: 0%; /* Starts at 0 */
  transition: width 0.1s linear; /* Makes the movement smooth */
}

:is(html, body, .welcome-box, .status-content, .info-dump)::-webkit-scrollbar {
  width: 10px;
}

:is(html, body, .welcome-box, .status-content, .info-dump)::-webkit-scrollbar-track{
  background: rgba(255, 192, 203, 0.3);
  border: 1px solid hotpink;
}

:is(html, body, .welcome-box, .status-content, .info-dump)::-webkit-scrollbar-thumb {
  background: hotpink;
  border-radius: 10px;
  border: 2px solid pink;
}

:is(html, body, .welcome-box, .status-content, .info-dump)::-webkit-scrollbar-thumb:hover{
  background: deeppink;
}