:root { 
  --text-color: hotpink;
  /* --text-color: #b07469; */
}

* {
  cursor: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/58566fec-767c-4b43-9655-1d0cf69219fa/d5mznwj-ce70c2cf-8711-4ff8-8d77-bd661f084252.png), auto !important;
  font-family: "MS UI Gothic", "MS PGothic", "MS Gothic", sans-serif;
  
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/110997028_uu3DcLwfIdXK6rc.jpg");
  background-repeat: repeat;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner {
    display: block;
    border: 3px double hotpink;
    border-bottom: none;
    width: 794px; /* so border fits */
    height: 199px;
}

.content {
    height: 1150px;
    width: 780px;
    margin: 0 auto;
    padding: 7px;
    color: var(--text-color);
    background-image: url("https://files.catbox.moe/s7ayh4.gif");
    border: 3px double hotpink;
    border-top: none;
}

.sippy-img,
.woofers-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
}

.sippy-img {
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Sippy%20bed%20png");
}

.sippy-img:hover{
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Sippy%20bed%20gif");
}

.woofers-img {
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Woofers%20bed%20png");
}

.woofers-img:hover{
  background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Gif%20woofers%20bed");
}


.link-box {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.link-button,
.link-button-bone {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 50px;
    transition: 0.2 ease;
}

.link-button:hover,
.link-button-bone:hover {
    transform: scale(1.05);
}

.link-button {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Newbutton.pink");
    background-size: cover;
}

.link-button-bone {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Bone%20button");
    width: 120px;
    height: 42px; /* this is so stupid, it needs this specific size for some reason */
    background-size: cover;
}

.link-button:hover {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Newbutton.purp")
}



.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #b07469;
    font-size: 16px;
    pointer-events: none;

}

.grid-container {
    display: grid;
    margin-left: 160px;
    margin-top: -520px;
    gap: 10px;

    grid-template-columns: 280px 160px 160px;
    grid-template-areas: 
    "welcomebox statsbox statsbox"
    "blinkies blinkies blinkies"
    "petbox linkmebox chatbox"
    "stamp stamp stamp"
    "tinyimage musicplayer rightmostbox";
}
.welcome-box  { grid-area: welcomebox; }
.stats-box    { grid-area: statsbox; }
.blinkies-area{ grid-area: blinkies; }
.pet-box      { grid-area: petbox; }
.linkme-box   { grid-area: linkmebox; }
.chat-box     { grid-area: chatbox; }
.stamp-area   { grid-area: stamp; }
.tiny-img     { grid-area: tinyimage; }
.music-player { grid-area: musicplayer; }
.rightmost-box{ grid-area: rightmostbox; }

.welcome-box,
.stats-box,
.blinkies-area,
.pet-box,
.linkme-box,
.chat-box,
.stamp-area,
.music-player,
.rightmost-box {
  min-height: 120px;
  border: 2px solid hotpink;
  background: rgba(255,255,255,0.7);
  font-size: 16px;
}

.pet-box {
  width: 314px;
  height: 325px;
}

.blinkies-area,
.stamp-area {
  min-height: 55px;
}

.blinkies-area {
  background-image: url(https://64.media.tumblr.com/27ab06431863079d6e0598ec83810ad4/ab084ec4244aeedc-96/s250x400/3449ebf9ea36b532aad242aefd0307375ebfcf3d.gifv);
  min-height: 20px;
}

.welcome-box {
  width: 335px;
  height: 235px;
  overflow:scroll;
  text-align: center;
  overflow-x: hidden;

  /* background-image: url(https://file.garden/aStH4SBKNTw4mZIY/Welcome.gif);
  background-size: cover;
  background-position: center; */
}

.welcome-wrapper {
  position: relative
}

.welcome-gif {
  margin-left: 15px;
}

.welcome-lace {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -17px;

  width: 335px;
  height: auto;

  pointer-events: none;
}


.stats-box {
  width: 250px;
  height: 235px;
  margin-left: 65px;
}


.box-label {
  
    color: white;
    border-bottom: 1px solid hotpink;
    padding: 1px;
    margin-bottom: 3px;
    text-align: center;
    margin: auto;
    padding: 3px;
    -webkit-text-stroke: 2px hotpink;
    background: linear-gradient(white, white 50%, white 50%, #ffb6da);
}

.status-line {
  display:flex;
  align-items: center;
  font-size: 24px;
}

.status-img {
  height: 40px;
  width: 40px;
}

.box-feeling {
  display: flex;
  justify-content: center;
}

/* this is a crime against humanity */
.status-content {
  height: 80px;
  width: 200px;
  margin-left: 25px;
  border: 1px solid hotpink;
  text-align: center;
  font-size: 20px;
  overflow: auto;
}
/* this is a crime against humanity */


:is(html, body, .welcome-box, .status-content)::-webkit-scrollbar {
  width: 10px;
}

:is(html, body, .welcome-box, .status-content)::-webkit-scrollbar-track{
  background: rgba(255, 192, 203, 0.3);
  border: 1px solid hotpink;
}

:is(html, body, .welcome-box, .status-content)::-webkit-scrollbar-thumb {
  background: hotpink;
  border-radius: 10px;
  border: 2px solid pink;
}

:is(html, body, .welcome-box, .status-content)::-webkit-scrollbar-thumb:hover{
  background: deeppink;
}