:root { 
    --text-color: pink;
}

* {
  cursor: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/58566fec-767c-4b43-9655-1d0cf69219fa/d5mznwj-ce70c2cf-8711-4ff8-8d77-bd661f084252.png), auto !important;
  font-family: "MS UI Gothic", "MS PGothic", "MS Gothic", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/110997028_uu3DcLwfIdXK6rc.jpg");
  background-repeat: repeat;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner {
    display: block;
}

.content {
    height: 1150px;
    width: 780px;
    margin: 0 auto;
    padding: 7px;
    color: var(--text-color);
    background-image: url(https://files.catbox.moe/s7ayh4.gif);
    border: 3px double hotpink;
}

.link-box {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.link-button,
.link-button-bone {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 50px;
    transition: 0.2 ease;
}

.link-button:hover,
.link-button-bone:hover {
    transform: scale(1.05);
}

.link-button {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Newbutton.pink");
    background-size: cover;
}

.link-button-bone {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Bone%20button");
    width: 120px;
    height: 42px; /* this is so stupid, it needs this specific size for some reason */
    background-size: cover;
}

.link-button:hover {
    background-image: url("https://file.garden/aStH4SBKNTw4mZIY/Newbutton.purp")
}



.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #b07469;
    font-size: 16px;
    pointer-events: none;

}

.grid-container {
    display: grid;
    margin-left: 160px;
    margin-top: -520px;
    gap: 10px;

    grid-template-columns: 280px 160px 160px;
    grid-template-areas: 
    "welcomebox statsbox statsbox"
    "blinkies blinkies blinkies"
    "petbox linkmebox chatbox"
    "stamp stamp stamp"
    "tinyimage musicplayer rightmostbox";
}
.welcome-box  { grid-area: welcomebox; }
.stats-box    { grid-area: statsbox; }
.blinkies-area{ grid-area: blinkies; }
.pet-box      { grid-area: petbox; }
.linkme-box   { grid-area: linkmebox; }
.chat-box     { grid-area: chatbox; }
.stamp-area   { grid-area: stamp; }
.tiny-img     { grid-area: tinyimage; }
.music-player { grid-area: musicplayer; }
.rightmost-box{ grid-area: rightmostbox; }

.welcome-box,
.stats-box,
.blinkies-area,
.pet-box,
.linkme-box,
.chat-box,
.stamp-area,
.music-player,
.rightmost-box {
  min-height: 120px;
  border: 2px solid hotpink;
  background: rgba(255,255,255,0.7);
}

/* Divider rows can be shorter */
.blinkies-area,
.stamp-area {
  min-height: 55px;
}

/* Tiny image sizing */
.tiny-img {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid hotpink;
  background: rgba(255,255,255,0.7);
}

